@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  line-height: 1.6; }

body {
  font-family: "Comfortaa", cursive; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px 0;
  font-family: "Comfortaa", cursive; }

strong {
  font-weight: 600; }

h1 {
  color: #f3f3f3; }

h2 {
  color: #1f1f1f; }

h3 {
  color: #ff393c; }

li {
  margin-bottom: .25em; }

pre, code {
  text-align: left;
  font-family: "Lucida Console", Monaco, monospace;
  color: #1f1f1f;
  background: #F7F7F7;
  margin: .5em; }

a, a:visited, a:hover, a:active {
  color: #212121; }

img {
  vertical-align: inherit;
  padding: 0 2em;
  text-align: center; }

blockquote {
  border-left: 8px solid;
  padding-left: .5em;
  color: #ff393c;
  text-align: left;
  margin: 1em 0; }
  blockquote > p {
    margin: 0; }

.remark-code {
  font-size: .7em; }

.remark-container {
  background: #333; }

.remark-slide-scaler {
  box-shadow: none; }

.remark-notes {
  font-size: 1.5em; }

.remark-slide-content {
  font-size: 20px;
  padding: 2em 2em;
  color: #212121;
  background-size: cover; }
  .remark-slide-content h1 {
    color: #212121; }

.remark-slide-number {
  color: #ff393c;
  right: 1em;
  opacity: .6;
  font-size: 0.8em;
  z-index: 2; }
  .no-counter .remark-slide-number {
    display: none; }

.impact {
  background-color: #f3f3f3;
  vertical-align: middle;
  text-align: center; }
  .impact, .impact h1, .impact h2 {
    color: #212121; }
  .impact h1 {
    font-size: 48px; }
  .impact h2 {
    font-size: 20px;
    padding-top: 160px; }

.impact-title {
  background: #ff393c;
  background: radial-gradient(circle, #ff393c 0%, #d16060 100%);
  vertical-align: middle;
  text-align: center; }
  .impact-title h1 {
    font-size: 48px;
    color: #f3f3f3 !important; }
  .impact-title p {
    text-align: center;
    color: #f3f3f3 !important; }

.full, .full h1, .full h2 {
  color: #f3f3f3; }

.fulliframe {
  height: calc(66.66667% - 1.2em);
  width: 66.66667%;
  transform: scale(1.5);
  transform-origin: 0 0;
  border: 0; }

.side-layer {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 2em; }

.middle, .middle img, .middle span {
  vertical-align: middle; }

.top {
  vertical-align: top; }

.bottom {
  vertical-align: bottom; }

.inline-block p, .inline-block ul, .inline-block ol, .inline-block blockquote {
  display: inline-block;
  text-align: left; }

.no-margin, .no-margin > p, .no-margin > pre, .no-margin > ul, .no-margin > ol {
  margin: 0; }

.no-padding {
  padding: 0; }

.space-left {
  padding-left: 1em; }

.space-right {
  padding-right: 1em; }

.responsive > img {
  width: 100%;
  height: auto; }

.contain {
  background-size: contain; }

.overlay {
  box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.5); }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center; }

.justify {
  text-align: justify; }

.primary {
  color: #f3f3f3; }

.primary-bg {
  background-color: #f3f3f3; }

.secondary {
  color: #1f1f1f; }

.secondary-bg {
  background-color: #1f1f1f; }

.tertiary {
  color: #ff393c; }

.tertiary-bg {
  background-color: #ff393c; }

.alt {
  color: #1f1f1f; }

.em {
  color: #ff393c; }

.thin {
  font-weight: 200; }

.huge {
  font-size: 2em; }

.big {
  font-size: 1.5em; }

.small {
  font-size: .8em; }

.strike {
  text-decoration: line-through; }

.dark {
  color: #333; }

.dark-bg {
  background-color: #333; }

.light {
  color: #f3f3f3; }

.light-bg {
  background-color: #f3f3f3; }

.alt-bg {
  background-color: #1f1f1f; }

.row {
  width: 100%; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row.table {
    display: table; }
  .row.table [class^="col-"] {
    float: none;
    display: table-cell;
    vertical-align: inherit; }

[class^="col-"] {
  float: left; }
  [class^="col-"].inline-block {
    float: none;
    display: inline-block; }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.animation-fade {
  animation-duration: 300ms;
  animation-fill-mode: both;
  animation-timing-function: ease-out; }
  .remark-visible .animation-fade {
    animation-name: fadeIn; }

@page {
  size: 1210px 681px;
  margin: 0; }

@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important; } }
